.header {
    display: flex;
    justify-content: end;
}

.footer {
    color: white;
    position: absolute;
    bottom: 0%;
    align-items: center;
    left: 45%;  //узнать как выровнять автоматом по центру
    margin-bottom: 20px;
}