@import '../../index.scss';

.home-desktop {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  height: 1024px;
  mix-blend-mode: difference;
  width: 1440px;
}
.overlap-group1 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  padding: 3px 0;
  width: 1440px;
}

.navbar_buttons {
  border: 1px none;
  display: flex;
  gap: 36px;
  height: 52px;
  margin-right: 138px;
  margin-top: 23px;
  position: relative;
  width: 496px;
}

.overlap-group2 {
  height: 873px;
  margin-top: 24px;
  position: relative;
  width: 1439px;
}

.jake-weirick-q_rbvffxr_g-unsplash-1 {
  height: 742px;
  left: 43px;
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 705px;
}

.arrows {
  height: 58px;
  left: 20px;
  position: absolute;
  top: 385px;
  width: 757px;
}

.groovy-rectangle {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 341px;
  left: 641px;
  min-width: 798px;
  position: absolute;
  top: 240px;
}

.always-newest-movies-anime-container {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(242.31, 0, 58.15) 0%,
    rgba(151.94, 14.56, 14.56, 0.76) 67.71%,
    rgb(207.19, 27.63, 70.72) 85.42%,
    rgba(139.19, 19.14, 19.14, 0.61) 90.92%,
    rgba(139.19, 19.14, 19.14, 0) 100%
  );
  height: 341px;
  position: relative;
  width: 852px;
}

.always-newest-movies-anime {
  height: 189px;
  left: 268px;
  mix-blend-mode: color-dodge;
  position: absolute;
  top: 88px;
  width: 313px;
}

.copyright {
  align-self: center;
  border: 1px none;
  display: flex;
  height: 46px;
  width: 1248px;
}

.c-2022-no-bull-cinema {
  color: $white-2; 
  font-family: $font-family-modern_antiqua;
  font-size: $font-size-l;
  font-weight: 400;
  height: 13px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 476px;
  margin-top: 16px;
  text-align: center;
  width: 297px;
}
