$black: #000000;
$ocean-blue-pearl: #4733d480;
$white: #fffffff2;
$white-2: #ffffff;
$font-size-l: 16px;
$font-size-m: 14px;
$font-family-modern_antiqua: 'Modern Antiqua', Helvetica;
$font-family-source_code_pro: 'Source Code Pro', Helvetica;